<div class="center jumbotron">

<div class="welcome">
Welcome to To-do List Manager!
</div>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
</div>

<div class="center">
<%= link_to image_tag("cat.jpeg", alt: "Cat logo"),
    'https://www.comp.nus.edu.sg/~vwo/' %>
</div>
