<% provide(:title, " #{current_user.name} tag: #{@tag.name}") %>
<h1><%= "View Tag #{@tag.name}" %></h1>

<h3>
<table class="table table-striped table-hover" style="width: 50%; margin: auto;">
  <thead>
    <tr>
      <th></th>
      <th scope="col">Title</th>
      <th scope="col">Deadline</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <%= render task %>
    </tr>
  <% end %>
  </tbody>
</table>
</h3>

<div class="center" style="font-size:1.2em;">
<%= link_to "Delete Tag", tag_path, method: :delete, data:{ confirm:  'Are you sure?' }, class:"btn btn-primary" %>
<%= link_to "Back", "javascript:history.back()", class:"btn btn-primary" %>
</div>
