@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.search-bar {
  font-size: 2em;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.welcome {
  font-size: 3.5em;
  color: #FF5093;
  text-align: center;
  font-weight: bold;
}

.jumbotron {
  background-color: white;
}

.btn {
  font-size: 1.5em;
}

.active {
  color: white;
}

.dropdown-toggle {
  color: white;
  &:hover {
    color:#563d7c;
}
}

.drop {
a {
  font-size: 2em;
}
}

.nav-item{
a {
  color: white;
  &:hover {
    color:#563d7c;
}
}
}


.drop{
a {
  font-size:1.2em;
  color: white;
  &:hover {
    color:#9370DB;
}
}
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #eaeaea;
    text-decoration: none;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;

}

input {
  height: auto !important;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    font-size: 2.2em;
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

